[Unit]
Description=Flexepin Service
Requires=flexepin.socket

[Service]
Type=simple
ExecStart=/usr/bin/python3 /srv/pi/aud-gateway/backend/flexepin.py %i
StandardInput=socket
StandardError=journal
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target